.body {
    padding: 30px;
    margin: 0 50px;
}

.main {
    display: grid;
    width: auto;
    height: 100vh;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(20, 1fr);
}

.container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 2fr 2fr;
    grid-area: 2 / 2 / 20 / 20;
    gap: 3px;
    border: 1px solid black;
}

.container-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

.bottom {
    display: grid;
    grid-template-columns: repeat(30, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-area: auto / auto / auto / span 2;
    align-items: normal;
    
}

.left {
    grid-area: 1 / 1 / 11 / 11 ;
}

.center {
    grid-area: 1 / 11 / 20 / 21;
}

.right {
    grid-area: 1 / 21 / 20 / 31;
}