.container {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
}

.title {
    display: flex;
    flex-direction: column;
    grid-area: 2 / 1 / span 2 / span 17;
    justify-content: center;
    align-items: center;
    color: white;
    text-shadow: 1px 1px 1px black;
}

.body-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-area: 2 / 2 / span 8 / span 8;
}

.body {
 padding: 0px 50px;
}



.main {
    display: grid;
    grid-template-columns: repeat(40, 1fr);
    grid-template-rows: repeat(25, 1fr);
    border-radius: 0;
    width: auto;
    gap: 10px;
}

.left {

    grid-area: 2  / 2 / 14 / 14;
}

.center {

    grid-area: 2 / 15 / 14 / 27 ;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);

}

.dos {
    margin-bottom: 16px;
}

.right {
    
    grid-area: 2 / 28 / 14 / 40;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
}

.bottom-left{
    grid-area: 15 / 2 / 25 / 14;
    margin-top: 20px;
}

.bottom-center{
    grid-area: 15 / 15 / 25 / 27;
    margin-top: 20px;
}

.bottom-right{
    grid-area: 15 / 28 / 25 / 40;
    margin-top: 20px;
}

@media (max-width: 1328px) {
    
    .image {
        width: 50%;
        height: auto;
    }

    .title {
        font-size: 2vw;
    }
    
    .left, .center, .right {
        width: fit-content;
        height: fit-content;
    }
}

@media (max-width: 1086px) {
    .navbar, .search {
        display: none;
    }
}

@media (max-width: 600px) {
    .left, .right, .center, .main, .bottom-left, .bottom-center, .bottom-right {
        display: block;
        margin: 40px 0;
    }

    .title {
        font-size: 3vw;
    }

    .navbar, .search {
        display: none;
    }
}

