.body {
    padding: 30px;
    margin: 0 50px;
}

.main {
    display: grid;
    width: auto;
    height: 100vh;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(20, 1fr);
}

.container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 2fr 2fr;
    grid-area: 2 / 2 / 20 / 20;
    gap: 3px;
    
}

.container-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    
}

.bottom {
    gap: 0 20px;
    display: grid;
    grid-template-columns: repeat(30, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-area: auto / auto / auto / span 2;
    align-items: normal;
    
}

.left {
    grid-area: 1 / 1 / 11 / 11 ;
    background-color: rgba(255, 255, 255, 0.152);
    border-radius: 25px;
}

.center {
    grid-area: 1 / 11 / 20 / 21;
    background-color: rgba(255, 255, 255, 0.152);
    border-radius: 25px;
}

.right {
    grid-area: 1 / 21 / 20 / 31;
    background-color: rgba(255, 255, 255, 0.152);
    border-radius: 25px;
}