body {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
}

.body {
    padding: 30px;
    margin: 0 50px;
}


.main {
    display: grid;
    width: auto;
    height: 100vh;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(10, 1fr);
    background-image: url(../Images/Vector_2640.jpg);
    background-size: cover;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 2fr;
    grid-area: 4 / 10 / 20 / 20;
    gap: 3px;
    
}

.container-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    
}

#body {
    display: grid;
    
}

.bottom {
    gap: 0 20px;
    display: grid;
    grid-template-columns: repeat(30, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-area: auto / auto / auto / span 2;
    background-image: url(../Images/6106991.jpg);
    background-size: cover; 
}

.containers {
    text-align: center;
}

.button {
    width: 9rem;
    height: 2.5em;
    font-size: 1.3rem;
    font-family: inherit;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}


.left {

    grid-area: 3 / 1 / 9 / 11 ;
    background-color: rgba(77, 77, 77, 0.658);
    border-radius: 25px;
}

.center {
    grid-area: 3 / 11 / 9 / 21;
    background-color: rgba(77, 77, 77, 0.658);
    border-radius: 25px;
}

.right {
    grid-area: 3 / 21 / 9 / 31;
    background-color: rgba(77, 77, 77, 0.658);
    border-radius: 25px;
}