.main-container {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    grid-template-rows: 2fr 2fr 2fr;
    border: 2px solid black;
    width: 99%;
    height: 1000px;
}

.box {
    margin: 10px;
    border: 2px solid black;
    height: auto;
}

.one {
    background-color: rgba(0, 0, 255, 0.303);
    grid-row: span 3;
    
}

.two {
    background-color: rgba(127, 255, 212, 0.448);
    grid-column: span 2;
   
}

.three {
    background-color: rgba(240, 255, 255, 0.418);
    grid-column: span 2;
    grid-row: span 2;
    
}