.container {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    grid-template-rows: 2fr 2fr 2fr;
    border: 2px solid black;
    width: 99%;
    height: 1000px;
}

.box {
    margin: 10px;
    border: 2px solid black;
    height: auto;
}